
/*  -- App theme -- */
/* :root{
	--primary: #9146ff;
	--primary-dark: #7313ff;
	--primary-light: #ede0ff;
    --light: #f9f5ff;
	--dark: #292037;
	--black: #121014;

    --card-bg: #fff;
    --border-radius: 0.5rem;
} */

.App{
    font-family: 'Fira Sans', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background: var(--light);
    color: var(--dark);

    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    display:flex;
    flex-grow: 1;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}
footer{
    border-top: 1px dashed gray;
}

.app-navbar-logo{
    font-family: 'Signika', serif;
    font-size: 1.5rem;
    color: var(--primary);
    transition: color ease 0.35s;
    position: sticky;
}
.app-navbar-logo:hover{
    color: var(--accent);
    text-decoration: none;
}
.app-logo{
	font-family: 'Fira Sans', sans-serif;
}
.app-container{
    width: 95%;
    max-width: 1024px;
    margin: auto;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Signika', serif;
	font-weight: 600;
}

/* links */
a{
    color: var(--primary);
    transition: color ease 0.35s;
}
a:hover{
    color: var(--accent);
    text-decoration: underline;
}
a.link-button:hover{
    text-decoration: none;
}

/* inputs */
input, textarea{
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    padding: 0.5rem;
    color: var(--dark);
}
input:focus, textarea:focus, select:focus{
    outline-color: var(--primary);
}

/* buttons */
button:disabled{
    background: var(--primary-light) !important;
    color: #555 !important;
    border-color: #ccc !important;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-text.btn-primary,
.MuiButtonBase-root.MuiButton-root.MuiButton-contained.btn-primary{
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: white;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.btn-primary{
    background-color: transparent;
    color: var(--primary);
    border: 1px solid var(--primary);
}

.MuiButtonBase-root.MuiButton-root.MuiButton-text.btn-primary:hover,
.MuiButtonBase-root.MuiButton-root.MuiButton-contained.btn-primary:hover,
.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.btn-primary:hover{
    background-color: var(--primary-dark);
    color: var(--primary-light);
    border: 1px solid var(--primary);

}

/* swiper */
.swiper-container{
    width: 100%;
    padding-bottom: 1rem !important;
}

/* animation */
.loading-icon{
    animation: rotating 2s linear infinite;
}
@keyframes rotating {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

/* mobile only */
@media (max-width: 480px) {

    .app-navbar-logo{
        font-size: 1.25rem;
    }

    .Toastify__toast-container {
        max-width: 90% !important;
        border-radius: var(--border-radius) !important;
    }
    .Toastify__toast-container--bottom-right {
        bottom: 4rem !important;
        right: 1rem;
    }
}

/* tablet and up */
/* @media (min-width: 768px) {
    
} */